body {
  font-family: Arial, sans-serif;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.form-container {
  background-color: #f9f9f9;
  padding: 2rem;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 10px 20px rgba(0,0,0,0.1);
}

form h2 {
  margin-bottom: 20px;
  color: #064d1c;
}

form label {
  display: block;
  margin-top: 10px;
  margin-bottom: 5px;
  color: #222;
}

form input {
  width: 100%;
  padding: 10px;
  margin-bottom: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

form button {
  width: 100%;
  background-color: #064d1c;
  color: white;
  padding: 10px;
  margin-top: 15px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

form button:hover {
  background-color: #043a15;
}
